@media (width<=1140px) {
  html {
    font-size: 50%;
  }
}

@media (width<=930px) {
  html {
    font-size: 40%;
  }
}

@media (width<=810px) {
  .section-1 {
    background-size: cover;
  }
}

@media (width<=740px) {
  html {
    font-size: 30%;
  }
  body {
    margin: 0;
  }
}

@media (width<=550px) {
  .section-1 {
    border: 9px solid black;
  }
  .inner-1-inner-1-section-1,
  .inner-1-inner-2-section-1 {
    display: none;
    border: none;
  }
  .grid,
  .grid-2,
  .inner-2-inner-1-section-1 {
    border: none;
  }
  .inner-2-inner-1-section-1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #h1-inner-2-inner-1-section-1 {
    font-size: 18rem;
    color: rgb(255, 255, 255);
  }
  #h2-inner-2-inner-1-section-1 {
    font-size: 5.5rem;
    color: rgb(255, 255, 255);
  }
  .section-1 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(https://uploads-ssl.webflow.com/5ebb3a7d6345f4f60ff5f15d/5ebb3a7d6345f4d844f5f1e6_hipster-glasses-p-800.png);
    background-position: center;
  }
  .section-2 {
    flex-direction: column;
  }
  .inner-1-section-2 {
    width: 100%;
    height: 100vh;
  }
  #h1-inner-1-inner-1-section-2 {
    font-size: 60rem;
    line-height: 50rem;
  }
  #h2-inner-1-inner-1-section-2 {
    font-size: 13rem;
  }
  .inner-2-section-2 {
    width: 100%;
  }
  .inner-1-inner-2-section-2 {
    width: 70%;
  }
  .inner-1-inner-2-section-2 > h2 {
    font-size: 9rem;
  }
  .inner-1-inner-2-section-2 > p {
    font-size: 4.2rem;
  }
  #h1-1-inner-2-section-2 {
    text-align: center;
    font-size: 15rem;
    line-height: 17rem;
  }
}

@media (width<=440px) {
  html {
    font-size: 28%;
  }
}
@media (width<=400px) {
  html {
    font-size: 25%;
  }
}
@media (width<=360px) {
  html {
    font-size: 22%;
  }
}
@media (width<=310px) {
  html {
    font-size: 18%;
  }
}
@media (width<=250px) {
  html {
    font-size: 14%;
  }
}
